@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html, body {
  margin: 0;
  padding: 0;
  background: #fbfbfa;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

* { box-sizing: border-box; }

textarea, input, button { font-family: inherit; color: inherit; }

::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-thumb { background: #e4e4e2; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #c7c7c4; }
::-webkit-scrollbar-track { background: transparent; }
